h1
{
	color: red;
	border-bottom: 2px solid red;
	text-align: center;

}

h2, h3
{
	color: red;
	font-size: 25px;
}

.nav
{
	width: 400px
}

.photos
{
	overflow: hidden;
	border-radius: 150px;
	width:200px;
	height:200px;

}

.headersimplon
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo3:nth-child(1)
{
	order: 1;
}

.logo4:nth-child(2)
{
	order: 3;
	align-self: center;
}

.titre:nth-child(3)
{
	order: 2;
	align-self: flex-end;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}